﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.geometry.helper.html" name="" title="max.geometry.helper">max.geometry.helper</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.geometry.helper.Vector2Helper.html" name="" title="Vector2Helper">Vector2Helper</a>
                          </li>
                          <li>
                              <a href="max.geometry.helper.Vector3Helper.html" name="" title="Vector3Helper">Vector3Helper</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.geometry.pathfinder.html" name="" title="max.geometry.pathfinder">max.geometry.pathfinder</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.geometry.pathfinder.MapPathFinder.html" name="" title="MapPathFinder">MapPathFinder</a>
                          </li>
                          <li>
                              <a href="max.geometry.pathfinder.PathOptions.html" name="" title="PathOptions">PathOptions</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.geometry.shape2D.html" name="" title="max.geometry.shape2D">max.geometry.shape2D</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.geometry.shape2D.Circle2D.html" name="" title="Circle2D">Circle2D</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.Geometry2D.html" name="" title="Geometry2D">Geometry2D</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.I2DGeometry.html" name="" title="I2DGeometry">I2DGeometry</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.Line2D.html" name="" title="Line2D">Line2D</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.Path2D.html" name="" title="Path2D">Path2D</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.Path2D.EndBehavior.html" name="" title="Path2D.EndBehavior">Path2D.EndBehavior</a>
                          </li>
                          <li>
                              <a href="max.geometry.shape2D.Polygon2D.html" name="" title="Polygon2D">Polygon2D</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>